.castImage {
  width: calc((100% - 80px) / 6);
  height: auto;
  border-radius: 30px;
}

.castGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  margin-top: 20px;
}

.castText {
  font-size: 12px;
  text-align: center;
}
