.homeBig {
  padding: 20px;
}

.homeContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
}

.homeMovieName {
  font-size: 14px;
  color: rgb(8, 77, 102);
  text-align: center;
  border-radius: 0 0 30px 30px;
  padding: 10px;
}

.homeImage {
  width: 100%;
  height: auto;
  display: block;
}

.homeItem {
  width: calc((100% - 60px) / 4);
  box-shadow: 1px 0px 0px rgb(218, 229, 233);
  border-radius: 30px;
  background-color: rgb(57, 125, 150, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  color: inherit;
}

.homeItem:hover {
  transform: scale(1.01);
  box-shadow: 0 2px 4px rgb(172, 192, 199);
}
